@charset "UTF-8";

/*Обнуление*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;

400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

/*Шрифты*/

/*--------------------*/

/*mixin*/

/*--------------------*/

.conteiner {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header-top {
  background: #FEF7F6;
  z-index: 3;
  position: relative;
}

.header-top-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top-item {
  font-size: 14px;
  margin: 6px 0 9px 0;
}

.header-top-item:not(:last-child) {
  border-right: 1px solid #777777;
  margin-right: 15px;
  padding-right: 20px;
}

.header-top-link {
  font-size: 11px;
  font-weight: 300;
  line-height: 14px;
  text-transform: uppercase;
  color: #000;
}

.header-top-link svg {
  display: none;
}

.header-bottom-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
}

.header-bottom-logo {
  position: relative;
  z-index: 3;
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav-item {
  position: relative;
}

.header-nav-item:not(:last-child) {
  margin-right: 45px;
}

.header-nav-item:hover .header-sub-nav-list {
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
}

.header-nav-link {
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
}

.header-sub-nav-list {
  position: absolute;
  left: 0;
  top: 19px;
  padding-top: 20px;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header-sub-nav-item {
  background-color: #fff;
  min-width: 100px;
}

.header-sub-nav-link {
  color: #000;
  text-transform: uppercase;
  display: inline-block;
  padding: 5px 10px;
  white-space: nowrap;
}

.header-menu-arrow {
  cursor: pointer;
  position: absolute;
  padding: 2px;
}

.header-menu-arrow:before,
.header-menu-arrow:after {
  content: '';
  height: 1px;
  width: 7px;
  background-color: #000;
  position: absolute;
  top: 14px;
  left: 10px;
}

.header-menu-arrow::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-menu-arrow::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 5.5px;
}

.header-bottom-icon-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 3;
}

.header-bottom-icon-menu {
  display: none;
}

.header-bottom-icon-menu:before,
.header-bottom-icon-menu:after {
  content: "";
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 1px;
  left: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header-bottom-icon-menu:before {
  top: 1px;
}

.header-bottom-icon-menu::after {
  bottom: 1px;
}

.header-bottom-icon-menu span {
  position: absolute;
  background-color: #000;
  left: 0;
  width: 100%;
  height: 1px;
  top: 8px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header-bottom-icon-menu.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header-bottom-icon-menu.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.header-bottom-icon-menu.active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 8px;
}

.header-icon-link:not(:last-child) {
  margin-right: 20px;
}

.header-icon-link button {
  background-color: transparent;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header-icon-link.cart {
  position: relative;
}

.header-icon-link.favorites {
  position: relative;
}

.header-icon-link span {
  position: absolute;
  top: -15px;
  left: 10px;
  height: 16px;
  width: 16px;
  font-size: 8px;
  background-color: #FF5353;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
}

.header-nav.active {
  top: 0;
}

.webp .banner-wrap {
  background: url(../img/banner/bg-1.jpg) 0 0 no-repeat;
  background-size: cover;
}

.banner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  text-align: center;
}

.banner-block-left {
  max-width: 480px;
  margin-left: 100px;
}

.banner-block-left-label {
  font-weight: 500;
  line-height: 20px;
  color: #565656;
}

.banner-block-left-title {
  font-size: calc(35px + 25 * ((100vw - 320px) / 1600));
  font-weight: 500;
  line-height: 70px;
  margin-bottom: 45px;
}

.btn {
  display: inline-block;
  background-color: #FF5353;
  border-radius: 3px;
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.banner-block-left-btn-link {
  color: #fff;
  font-weight: 500;
  line-height: 44px;
  padding: 15px 45px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.banner-block-right img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .header-nav-link:hover {
    color: #FF5353;
  }

  .header-sub-nav-link:hover {
    color: #FF5353;
  }

  .header-menu-arrow:before:hover,
  .header-menu-arrow:after:hover {
    background-color: #FF5353;
  }

  .header-icon-link button:hover {
    fill: #FF5353;
  }

  .btn:hover {
    background-color: #fff;
  }

  .banner-block-left-btn-link:hover {
    color: #FF5353;
  }
}

@media (max-width: 1100px) {
  .banner-block-left {
    margin-left: 70px;
  }

  .banner-block-left-title {
    line-height: 50px;
    margin-bottom: 35px;
  }
}

@media (max-width: 960px) {
  .banner-block-left {
    margin-left: 0;
    padding: 0 20px;
  }

  .banner-block-left-title {
    line-height: 44px;
    margin-bottom: 30px;
  }
}

@media (max-width: 770px) {
  .header-top-item.phone,
  .header-top-item.email {
    font-size: 0;
  }

  .header-top-link svg {
    display: block;
  }

  .header-top-link.phone,
  .header-top-link.email,
  .header-top-link.language {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0;
    line-height: 0;
  }
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }

  .header-bottom-icon-menu {
    display: block;
    position: relative;
    width: 20px;
    height: 17px;
    margin-right: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header-icon-link button:active {
    fill: #FF5353;
  }

  .header-nav {
    overflow: auto;
    position: fixed;
    top: -100%;
    left: 15%;
    width: 70%;
    min-height: 35%;
    background-color: #fff;
    z-index: 2;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }

  .header-nav-item:not(:last-child) {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .header-nav-list {
    display: block;
    margin-left: 30px;
    margin-top: 100px;
  }

  .header-nav-link {
    font-size: 16px;
  }

  .banner-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .banner-block-left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 60px 0;
  }

  .banner-block-right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 400px) {
  .header-top-item {
    font-size: 0;
  }

  .header-top-item:not(:last-child) {
    border-right: none;
    margin-right: 15px;
    padding-right: 15px;
  }

  .header-top-item.phone {
    border-right: 1px solid #777777;
  }

  .header-top-link {
    font-size: 0;
  }
}

.webp .webp .banner-wrap{ background: url(../img/banner/bg-1.webp) 0 0 no-repeat; }